<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= message %></title>
   <%- include('inc/css') %> 

</head>
<body class='pace-top'>

    <div id="app" class="app app-full-height app-without-header">

        <div class="error-page">

            <div class="error-page-content">
                <div class="card mb-5 mx-auto" style="max-width: 320px;">
                    <div class="card-body">
                        <div class="card">
                            <div class="error-code">404</div>
                            <div class="card-arrow">
                                <div class="card-arrow-top-left"></div>
                                <div class="card-arrow-top-right"></div>
                                <div class="card-arrow-bottom-left"></div>
                                <div class="card-arrow-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
                <h1>Oops!</h1>
                <h3>We can't seem to find the page you're looking for</h3>
                <hr />
                <p class="mb-1">
                   <%= error.stack %>
                </p>
                <a href="javascript:window.history.back();" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Go Back</a>
            </div>

        </div>
    </div>


      <%- include('inc/js') %> 
</body>

</html>

